<section class="grid-banner" style="display: none">
  <div class="container">
    <div class="notification">
      Snowpack 2.7 is here!
      <a href="/posts/2020-07-30-snowpack-2-7-release/">
        Read the launch post →
      </a>
    </div>
  </div>
</section>
