<section class="grid-banner">
  <div class="notification">
    <div class="container">
      Snowpack 3.0 Release Candidate is here!
      <a href="/posts/2020-12-03-snowpack-3-release-candidate">
        Read the announcement post →
      </a>
    </div>
  </div>
</section>