<nav class="menu">
  <ol>
    <li>
      <span class="menu-section-header">Concepts</span>
      <ol>
        <li>
          <a href="/concepts/how-snowpack-works">How Snowpack Works</a>
        </li>
        <li>
          <a href="/concepts/dev-server">The Dev Server</a>
        </li>
        <li>
          <a href="/concepts/build-pipeline">The Build Pipeline</a>
        </li>
        <li>
          <a href="/concepts/hot-module-replacement">Fast Refresh & HMR</a>
        </li>
      </ol>
    </li>

    <li>
      <span class="menu-section-header">Getting Started</span>
      <ol>
        <li>
          <a href="/tutorials/quick-start">Quick Start</a>
        </li>
        <li>
          <a href="/tutorials/getting-started">New Project</a>
        </li>
        <li>
          <a href="/tutorials/react">React</a>
        </li>
        <li>
          <a href="/tutorials/svelte">Svelte</a>
        </li>
      </ol>
    </li>

    <li>
      <span class="menu-section-header">Guides</span>
      <ol>
        <li>
          <a href="/#">Sass</a>
        </li>
        <li>
          <a href="/#">Tailwind CSS</a>
        </li>
        <li>
          <a href="/#">Webpack</a>
        </li>
        <li>
          <a href="/guides">See all</a>
        </li>
      </ol>
    </li>

    <li>
      <span class="menu-section-header">Reference</span>
      <ol>
        <li>
          <a href="/reference/supported-files">Supported Files</a>
        </li>
        <li>
          <a href="/reference/configuration">snowpack.config.js</a>
        </li>
        <li>
          <a href="/reference/cli-command-line-interface">Command Line API</a>
        </li>
        <li>
          <a href="/reference/javascript-interface">JavaScript API</a>
        </li>
        <li>
          <a href="/reference/plugins">Plugin API</a>
        </li>
        <li>
          <a href="/reference/hot-module-replacement">HMR API</a>
        </li>
      </ol>
    </li>

    <li>
      <a href="/plugins"> <span class="menu-section-header">Plugins</span></a>
    </li>

    <li>
      <a href="/support"> <span class="menu-section-header">Support</span></a>
    </li>

    <li>
      <a href="/community">
        <span class="menu-section-header">Community</span></a
      >
    </li>
  </ol>
</nav>
