<script type="module" defer src="/_dist_/js/index.js"></script>
<aside class="snow-toc snow-toc__subnav snow-view-subnav">
  <h2 class="content-title">
    {{ title }}
  </h2>
  <h4 class="snow-toc-section-header">On this page</h4>
    {{ content | toc | safe }}
  <hr />
  <h4 class="snow-toc-section-header">Suggest a change</h4>
  <a href="https://github.com/snowpackjs/snowpack/tree/{{ page.inputPath | toDocPath }}">Edit this page on GitHub</a>
</aside>
