<aside class="sub-navigation">
  <h4 class="menu-section-header">On this page</h4>
  {{ content | toc | safe }}
  <hr/>
  <h4 class="menu-section-header">Suggest a change</h4>
  <a href="https://github.com/snowpackjs/snowpack/blob/main/www/{{ page.inputPath }}">Edit this page on GitHub</a>
</aside>
