{
  "parser": "@typescript-eslint/parser",
  "extends":  [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "prettier/prettier": "error"
  }
}
