.DS_Store
.build
.idea
.vercel
docs/_site
docs/index.md
lerna-debug.log
node_modules
package-lock.json
create-snowpack-app/*/build
test/build/**/build
test/create-snowpack-app/test-install
test/esmpkg/**/web_modules
yarn-error.log
