.DS_Store
.build
.idea
.snowpack
.vercel
lerna-debug.log
node_modules
package-lock.json
create-snowpack-app/*/build
test/__temp__
test/build/**/build
test/build/**/TEST_BUILD_OUT
test/build/**/web_modules
test/create-snowpack-app/test-install
test/esinstall/**/web_modules
yarn-error.log

# Ignore files that are copied from /docs
www/_template/**/*.md
!www/_template/posts/**/*.md
