.DS_Store
.build
.idea
.vercel
www/_site
www/index.md
lerna-debug.log
node_modules
package-lock.json
create-snowpack-app/*/build
test/build/**/build
test/create-snowpack-app/test-install
test/esinstall/**/web_modules
yarn-error.log
test/build/config-out/TEST_BUILD_OUT
assets/app.min.css