//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "sass:map";
@use "sass:string";
@use "./functions";

$font-family: string.unquote('Roboto, sans-serif') !default;

// Override styles
$styles-headline1: () !default;
$styles-headline2: () !default;
$styles-headline3: () !default;
$styles-headline4: () !default;
$styles-headline5: () !default;
$styles-headline6: () !default;
$styles-subtitle1: () !default;
$styles-subtitle2: () !default;
$styles-body1: () !default;
$styles-body2: () !default;
$styles-caption: () !default;
$styles-button: () !default;
$styles-overline: () !default;

$base: (
  font-family: $font-family,
) !default;

$font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
) !default;

$styles: functions.set-styles_(
  $base,
  (
    headline1: (
      font-size: functions.pxToRem(96px),
      line-height: functions.pxToRem(96px),
      font-weight: map.get($font-weight-values, light),
      letter-spacing: functions.get-letter-spacing_(-1.5, 6),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline2: (
      font-size: functions.pxToRem(60px),
      line-height: functions.pxToRem(60px),
      font-weight: map.get($font-weight-values, light),
      letter-spacing: functions.get-letter-spacing_(-0.5, 3.75),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline3: (
      font-size: functions.pxToRem(48px),
      line-height: functions.pxToRem(50px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline4: (
      font-size: functions.pxToRem(34px),
      line-height: functions.pxToRem(40px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: functions.get-letter-spacing_(0.25, 2.125),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline5: (
      font-size: functions.pxToRem(24px),
      line-height: functions.pxToRem(32px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline6: (
      font-size: functions.pxToRem(20px),
      line-height: functions.pxToRem(32px),
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: functions.get-letter-spacing_(0.25, 1.25),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    subtitle1: (
      font-size: functions.pxToRem(16px),
      line-height: functions.pxToRem(28px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: functions.get-letter-spacing_(0.15, 1),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    subtitle2: (
      font-size: functions.pxToRem(14px),
      line-height: functions.pxToRem(22px),
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: functions.get-letter-spacing_(0.1, 0.875),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    body1: (
      font-size: functions.pxToRem(16px),
      line-height: functions.pxToRem(24px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: functions.get-letter-spacing_(0.5, 1),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    body2: (
      font-size: functions.pxToRem(14px),
      line-height: functions.pxToRem(20px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: functions.get-letter-spacing_(0.25, 0.875),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    caption: (
      font-size: functions.pxToRem(12px),
      line-height: functions.pxToRem(20px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: functions.get-letter-spacing_(0.4, 0.75),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    button: (
      font-size: functions.pxToRem(14px),
      line-height: functions.pxToRem(36px),
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: functions.get-letter-spacing_(1.25, 0.875),
      text-decoration: none,
      text-transform: uppercase,
    ),
    overline: (
      font-size: functions.pxToRem(12px),
      line-height: functions.pxToRem(32px),
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: functions.get-letter-spacing_(2, 0.75),
      text-decoration: none,
      text-transform: uppercase,
    ),
  ),
  (
    headline1: $styles-headline1,
    headline2: $styles-headline2,
    headline3: $styles-headline3,
    headline4: $styles-headline4,
    headline5: $styles-headline5,
    headline6: $styles-headline6,
    subtitle1: $styles-subtitle1,
    subtitle2: $styles-subtitle2,
    body1: $styles-body1,
    body2: $styles-body2,
    caption: $styles-caption,
    button: $styles-button,
    overline: $styles-overline,
  )
) !default;
