<div class="content ">

  <h2 class="content-title">
    {{ title }}
  </h2>
  <div class="content-layout">
    <div class="sub-navigation-column">
      {% include 'layouts/components/subnav.njk' %}
    </div>
    <div class="content-body">
      {{ content | safe }}
    </div>
  </div>

</div>
