---
layout: layouts/base.njk
title: 'Snowpack - The faster frontend build tool'
description: 'Snowpack is the fast, bundle-free build tool for all kinds of frontend projects.'
---

<div class="container">
  <section class="snow-view__docs">

    <aside id="nav-primary" class="snow-view-nav">
      {% include 'layouts/components/menu.njk' %}
    </aside>

    <article id="grid-body" class="snow-view-main">
      {{ content | safe }}
    </article>

    {% include 'layouts/components/subnav.njk' %}
  </section>
</div>