---
layout: layouts/base.njk
---

<div class="container">
  <section class="snow-view__docs is-full">

    <aside id="nav-primary" class="snow-view-nav">
      {% include 'layouts/components/menu.njk' %}
    </aside>

    <article class="snow-view-main">
      {{ content | safe }}
    </article>

  </section>
</div>