
<nav class="menu">
  <ol>
    <li>
      <a href="/overview" class="{%if page.url  == '/overview/' %}active{% endif %}">Overview</a>
    </li>
    <li>
      <a href="/getting-started">Getting Started</a>
    </li>

    <li>
      <a href="/features">Features</a>
    </li>

    <li>
      <a href="/guides">Guides</a>
    </li>

    <li>
      <a href="/configuration">Configuration</a>
    </li>

    <li>
      <a href="/plugins">Plugins</a>
    </li>

    <li>
      <a href="/support">Support</a>
    </li>
  </ol>
</nav>
