<nav class="menu">

  <ol>
    <li>
      <span class="menu-section-header">Overview</span>
      <ol>
        <li>
          <a href="/#what-is-snowpack%3F">What is Snowpack?</a>
        </li>
        <li>
          <a href="/about">About Snowpack</a>
        </li>
      </ol>
    </li>

    <li>
      <span class="menu-section-header">Getting Started</span>
      <ol>
        <li>
          <a href="/getting-started">Getting Started</a>
        </li>
      </ol>
    </li>

    <li>
      <span class="menu-section-header">Guides</span>
      <ol>
        <li>
          <a href="/guides/react">React</a>
        </li>
        <li>
          <a href="/guides/svelte">Preact</a>
        </li>
        <li>
          <a href="/guides/svelte">Svelte</a>
        </li>
        <li>
          <a href="/guides/svelte">Vue</a>
        </li>
        <li>
          <a href="/guides">See all</a>
        </li>
      </ol>
    </li>

    <li>
      <span class="menu-section-header">Features</span>
      <ol>
        <li>
          <a href="/features">Features</a>
        </li>
      </ol>
    </li>

    <li>
      <span class="menu-section-header">Configuration</span>
      <ol>
        <li>
          <a href="/configuration">Configuration</a>
        </li>
      </ol>
    </li>

    <li>
      <span class="menu-section-header">Plugins</span>
      <ol>
        <li>
          <a href="/plugins">Plugin Catalog</a>
        </li>
        <li>
          <a href="/guides/plugins">Create Your Own Plugin</a>
        </li>
      </ol>
    </li>

    <li>
      <a href="/support"><span class="menu-section-header">Support</span></a>
    </li>

    <li>
      <a href="/community"><span class="menu-section-header">Community</span></a>
    </li>
  </ol>
</nav>