<aside class="sub-navigation">
  <h4>On this page</h4>
  {{ content | toc | safe }}
  <hr/>
  <h4>Suggest a change</h4>
  <a href="https://github.com/snowpackjs/snowpack/blob/master/www/{{ page.inputPath }}">Edit this page on GitHub</a>
</aside>