---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Snowpack News & Updates",
    "subtitle": "Snowpack is the fast, bundle-free build tool for all kinds of frontend projects. ",
    "url": "https://www.snowpack.dev/",
    "feedUrl": "https://www.snowpack.dev/feed.xml",
    "author": {
      "name": "Fred K. Schott",
      "email": "fred@pika.dev"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ news | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in news %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ post.url }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ post.url }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(post.url) }}</content>
  </entry>
  {%- endfor %}
</feed>