---
layout: layouts/base.njk
---

{% include 'layouts/components/hero.njk' %}

<div class="container" style="margin: 0 auto">
  <section class="snow-view__docs is-full is-home">

    <aside id="nav-primary" class="snow-view-nav">
      {% include 'layouts/components/menu.njk' %}
    </aside>

    <article id="grid-body" class="snow-view-main">
      <div class="content">
        <article id="grid-body" class="grid-body">
          <a class="img-banner" href="https://osawards.com/javascript/2020" target="_blank" rel="noopener noreferrer">
            <img src="/img/JSAwardWinner.png" alt="2020 JavaScript Open Source Award Winner banner"/>
          </a>

          <div class="content markdown-body feature-list">
            <div class="feature-list-top">
              <h2 id="what-is-snowpack%3F">What is Snowpack?</h2>
              <p>Snowpack is a modern frontend build tool for faster web development. Snowpack pushes changes instantly to the browser, saving you hours of development time traditionally spent waiting around for your bundler.</p>

              <div class="feature-list-buttons">
                <a href="/tutorials/quick-start" class="button button-primary feature-list-button">Get started</a>
                <a href="/concepts/how-snowpack-works" class="button feature-list-button">Learn more</a>
              </div>

            </div>

            <ul class="feature-list-bullets">
              <li class="feature-list-bullet">
                <h3>Fast</h3>
                Develop faster, with a
                <a href="/concepts/dev-server">development server</a>
                that starts up in
                <strong>50ms or less.</strong>
              </li>
              <li class="feature-list-bullet">
                <h3>Go unbundled</h3>
                Snowpack replaces heavier, more complex bundlers like Webpack or Parcel in your
                <a href="/concepts/how-snowpack-works">development workflow.</a>
              </li>

              <li class="feature-list-bullet">
                <h3>Builds only what's needed</h3>
                Snowpack leverages JavaScript’s native module system (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import">known as ESM</a>) to never build the same file twice.
              </li>

              <li class="feature-list-bullet">
                <h3>See changes instantly</h3>
                See changes reflected instantly in the browser with
                <a href="/concepts/hot-module-replacement">build in Hot Module Replacement (HMR)</a>
              </li>

              <li class="feature-list-bullet">
                <h3>Optimize for deployment</h3>
                Use our build in optimizations or integrates with your favorite bundler for a
                <a href="/concepts/build-pipeline">production-optimized build.</a>
              </li>
              <li class="feature-list-bullet">
                <h3>Feature-rich</h3>
                Enjoy out-of-the-box support for
                <a href="/reference/supported-files">TypeScript, JSX, CSS Modules and more.</a>
              </li>
              <li class="feature-list-bullet">
                <h3>Connect with plugins</h3>
                Connect your favorite tools from SASS to Babel with our extensive library of
                <a href="/plugins">
                  plugins.</a>
              </li>
            </ul>

          </div>
        </article>
      </div>

    </article>
  </section>
</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script async="async" defer="defer" src="https://buttons.github.io/buttons.js"></script>
