---
layout: layouts/main.njk
title: 'Snowpack - The faster frontend build tool'
home: true
description: 'Snowpack is the fast, bundle-free build tool for all kinds of frontend projects.'
---
<div class="content">
  <article id="grid-body" class="grid-body">
    <a class="img-banner" href="https://osawards.com/javascript/2020" target="_blank" rel="noopener noreferrer">
      <img src="/img/JSAwardWinner.png" alt="2020 JavaScript Open Source Award Winner banner"/>
    </a>

    <div class="content markdown-body">

      <h2 id="what-is-snowpack%3F">What is Snowpack?</h2>
      <p>Snowpack is a modern frontend build tool for faster web development. It replaces heavier, more complex bundlers like webpack or Parcel in your development workflow.</p>
      <p>Snowpack leverages JavaScript’s native module system (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import">known as ESM</a>) to create a first-of-its-kind build system that never builds the same file twice. Snowpack pushes changes instantly to the browser, saving you hours of development time traditionally spent waiting around for your bundler.</p>

      <h2 id="key-features">Key Features</h2>
      <ul>
        <li>Develop faster, with a dev server that starts up in
          <strong>50ms or less.</strong>
        </li>
        <li>See changes reflected
          <a href="/#hot-module-replacement">instantly in the browser.</a>
        </li>
        <li>Integrate your favorite bundler for a
          <a href="/#bundle-for-production">production-optimized build.</a>
        </li>
        <li>Enjoy out-of-the-box support for
          <a href="/#features">TypeScript, JSX, CSS Modules and more.</a>
        </li>
        <li>Connect your favorite tools with
          <a href="/#plugins">third-party plugins.</a>
        </li>
      </ul>

      <div class="button-container">
        <a href="/quick-start" class="button button-primary">Get started</a>
        <a href="/concepts/how-snowpack-works" class="button">Learn more</a>
      </div>
    </div>
  </article>

</div>
