---
layout: layouts/main.njk
title: 'The Snowpack Plugin Catalog'
permalink: '/plugins/'
description: 'Snowpack plugins allow for configuration-minimal tooling integration.'
---

<style>
  /* TODO: Clean up and move into _pluginPage.scss */
  #loading-message {
    margin: 1rem;
    text-align: center;
  }
  .cards {
    list-style: none;
    max-width: 600px;
  }
  .plugin-icon {
    height: 52px;
    width: 52px;
    float: left;
    margin-left: -62px;
    margin-top: 8px;
    opacity: 0.5;
    transform: rotate(45deg);
    background: radial-gradient(to top, red, blue);
  }
  .card:nth-child(3n+2) .plugin-icon {
    filter: hue-rotate(-60deg);
  }
  .card:nth-child(3n+3) .plugin-icon {
    filter: hue-rotate(-120deg);
  }

  .card {
    margin: 0.5rem 0.25em;
    border-radius: 4px;
    padding: 0.5rem 0.5rem 0.5rem 48px;
  }
  .card-name {
    font-weight: 500;
    margin: 0;
  }
  .card-header {
    font-size: 1.1447rem;
  }
  .card-descr {
    line-height: 1.25;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    max-width: 80ch;
  }
  .card-subtitle {
    margin: 0;
    color: #7986a5;
    font-size: 0.8735804647362989em;
  }
  .sky-form {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
  }
  .sky-btn {
    background: #2e5e82;
    color: white;
    border: none;
    border-radius: 0 2px 2px 0;
    font-weight: 500;
    padding: 0.5rem;
    font-size: 22px;
  }
</style>

<h2 class="content-title">
  {{ title }}
</h2>

<h3 class="pluginPage-subheading">Customize Snowpack with optimized build plugins.</h3>
<p class="pluginPage-intro">To learn more about our plugin system, check out the
  <a href="/reference/plugins">Plugin API.</a><br/>Can't find what you need?
  <a href="/reference/plugins">Creating your own plugin is easy!</a>
</p>
<form name="myform" id="myform" class="pluginPage-search" action="https://www.npmjs.com/search" method="GET">
  <input type="search" name="q" value="" placeholder="search Sass, sitemaps, image optimization..." class="pluginPage-search-input">
  <button type="submit" class="pluginPage-search-submit">Search</button>
</form>
<div class="pluginPage-count" id="total-result-count"></div>

{# <h2 class="pluginPage-zero-heading">Popular Snowpack Plugins</h2> #}

<section id="search-results" style="max-width: 600px;">
  <div id="loading-message">Loading...</div>
</section>

<script type="module">
  import {html, render} from 'htm/preact/standalone.module.js';

    function Card({result}) {
      return html ` <li class="card">
      <img class="plugin-icon" src="/img/plug-light.svg" />
      <header class="card-header">
        <h3 class="card-name">
          <a href="https://www.npmjs.com/package/${result
        .name}" target="_blank"><span itemprop="name">${result
        .name}</span></a>
        </h3>
      </header>
      <p class="card-descr" itemprop="description">${result
        .description
        .split('. ')[0]}</p>
      <p class="card-subtitle">
		    Updated <time class="" datetime="${result
        .updatedAt}">August 10, 2020</time>
      </p>
    </li>`;
    }

    document
      .getElementById('myform')
      .onsubmit = function DoSubmit(e) {
        const form = new FormData(e.target);
        const formula = form.get("q");
        document
          .getElementById('loading-message')
          .style
          .display = 'block';
        searchPlugins(formula);

        const searchParams = new URLSearchParams(window.location.search);
        searchParams.set("q", formula);
        window.location.search = searchParams.toString();
        return false;
      }

    async function searchPlugins(val) {
      const params3 = new URLSearchParams([
        [
          "q", 'snowpack plugin ' + (
          val || '')
        ],
        [
          "count", "100"
        ]
      ]);
      const res = await fetch(`https://api.skypack.dev/v1/search?${params3.toString()}`);
      const results = await res.json();
      if (!val && results.results && results.results.length > 50) {
        document
          .getElementById('total-result-count')
          .innerText = results.results.length + ' Snowpack plugins available!';
      }
      if (!results.results || results.results.length === 0) {
        render(html `<ul class="cards"><li style="margin: 1rem; text-align: center;">No results found.</li></ul>`, document.getElementById('search-results'),);
      } else {
        render(html `<ul class="cards">${results.results.map(r => html `<${Card} result=${r} />`)}</ul>`, document.getElementById('search-results'),);
      }
      if (document.getElementById('loading-message')) {
        document
          .getElementById('loading-message')
          .style
          .display = 'none';
      }
    }


    const searchParams = new URLSearchParams(window.location.search);
    document.querySelector('.pluginPage-search-input').value = searchParams.get('q');
    searchPlugins(searchParams.get('q'));
    </script>
