---
permalink: /search.json
eleventyExcludeFromCollections: true
layout: false
---

{
	"pages": [
	{%- for entry in collections.all %}
	{%- if entry.data.excludeFromSearch %}{% else %}
		{
			"url": "{{ entry.data.page.url }}",
			"title": "{{ entry.data.searchTitle or entry.data.relatedTitle or entry.data.tiptitle or entry.data.eleventyNavigation.key or entry.data.title }}",
			"text": {{ entry.templateContent | toSearchEntry | striptags(true) | toJSON | safe }}
		}{% if loop.revindex0 != 0 %},{% endif %}
	{%- endif %}
	{%- endfor %}
	]
}