.news-items {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}
.discord-banner {
  grid-column: 1 / -1;
  border: 1px solid #2e2077;
  background-color: #545eec;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  font-weight: 500;
  padding: 1.25rem;
  margin: 1.5rem 0 1rem;
  background: #545eec;
  box-shadow: 6px 6px 20px #4750c966, -6px -6px 20px #616cff66;
}
.discord-banner > * {
  display: block;
}

@media (max-width: 700px) {
  .discord-banner {
    flex-direction: column;
  }
  .discord-banner > div {
    margin-top: 1rem;
  }
}

.news-item {
  display: flex;
  grid-column: span 1;
  overflow: hidden;
  font-family: Open Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, sans-serif;
  color: #1a202c;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 1px solid #e2e8f0;
}
.news-item:hover {
  border-color: #2a85ca;
  box-shadow: 0 2px 2px 0 rgba(46, 94, 130, 0.4);
}
.news-item:hover .news-item-image {
  opacity: 0.9;
}

.news-item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.8;
}
.news-item-text {
  padding: 1rem;
}
.news-item-title {
  margin: 0 0 0.25rem 0;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Overpass';
  line-height: 1.1;
}
.content-title {
  font-family: 'Overpass';
}

.news-item:nth-child(4n + 0) .news-item-image {
  background: #f2709c;
  background: linear-gradient(30deg, #ff9472, #f2709c);
}
.news-item:nth-child(4n + 1) .news-item-image {
  background: #fbd3e9;
  background: linear-gradient(30deg, #bb377d, #fbd3e9);
}
.news-item:nth-child(4n + 2) .news-item-image {
  background: #b993d6;
  background: linear-gradient(30deg, #8ca6db, #b993d6);
}

.news-item:nth-child(4n + 3) .news-item-image {
  background: #00d2ff;
  background: linear-gradient(30deg, #3a7bd5, #00d2ff);
}
