<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <title>{{ title }}</title>

    <link href="/css/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" >
    <link rel="stylesheet" href="/css/github-markdown.css" >
    <style>
    /*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

.markdown-body h2 + h3 {
  margin-top: 16px;
}
.markdown-body ul {
  list-style: initial;
}

* {
	position: relative;
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: grid;
  grid-template-columns: 82px 260px 1fr;
  grid-template-rows: 62px 4px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-logo { grid-area: 1 / 1 / 2 / 2; }
.grid-header { grid-area: 1 / 2 / 2 / 4; }
.grid-header-border { grid-area: 2 / 1 / 3 / 4; }
.grid-toc { grid-area: 3 / 1 / 4 / 3; }
.grid-body { grid-area: 3 / 3 / 4 / 4; }
.grid-toc, .grid-body {
  overflow: scroll;
}

@media (max-width: 700px) {
  .grid-toc { display: none; }
  .grid-body { grid-area: 3 / 1 / 4 / 4; }
  .hidden-mobile {display: none; }
}

.grid-logo {
  padding: 10px 1em;
}
.grid-header {
  font-family: 'Montserrat', 'ProximaNova-Bold', 'Helvetica Neue', Arial, sans-serif;
  padding: 12px 1em 12px 0;
  line-height: 42px;
  color: #333;
  letter-spacing: 1px;
 }
.grid-header h1 {
  font-size: 32px;
  display: inline-block;
}
.grid-header .version-tag {
  font-size: 20px;
}
.grid-header a {
  float: right;
  color: #333;
  text-decoration: none;
}
.grid-header-border {
    background: linear-gradient(to right, #55F 0%, #51BBFF66 100%);
 }

.toc {
  padding: 1em;
}
.toc a {
  text-decoration: none;
  color: #888;
}

.toc a.active {
  color: red;
}

.toc ol {
  list-style: none;
  line-height: 1.6;
}
.toc > ol > li {
  font-weight: bold;
}
.toc > ol > li > a {
  color: #333;
}
.toc > ol > li > ol {
  padding: 0 1em 0em 1em;
  font-weight: normal;
}


.grid-body {
  padding: 1em;
}
.markdown-body {
  max-width: 720px;
  margin-bottom: 50vh;
}
    </style>
  </head>
  <body>
  <div class="grid-logo">
    <svg  height="42px" viewBox="0 0 640 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
            <stop stop-color="#55F" offset="0%"></stop>
            <stop stop-color="#61CCFF" offset="100%"></stop>
        </linearGradient>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="mountain-solid" transform="translate(-1.000000, 0.000000)" fill="url(#linearGradient-1)" fill-rule="nonzero">
                <path d="M635.92,462.7 L347.92,14.7 C342.03,5.54 331.89,0 321,0 C310.11,0 299.97,5.54 294.08,14.7 L6.08,462.7 C-0.250773249,472.547007 -0.699487627,485.064987 4.91,495.34 C10.522069,505.612419 21.2945349,512 33,512 L609,512 C620.71,512 631.48,505.61 637.09,495.33 C642.699457,485.058495 642.250708,472.543372 635.92,462.7 Z M321,91.18 L406.39,224 L321,224 L257,288 L218.94,249.94 L321,91.18 Z" id="Shape"></path>
            </g>
        </g>
    </svg>
  </div>
    <header class="grid-header">
      <h1>Snowpack</h1>
      <span class="version-tag">v1.0.0</span>
      <a class="hidden-mobile" href="https://github.com/pikapkg/snowpack/blob/master/docs">[Edit on GitHub]</a>
    </header>
    <div class="grid-header-border">
    </div>
    <aside class="grid-toc">
      {{ content | toc | safe }}
    </aside>
    <div id="grid-body" class="grid-body">
      <article class="markdown-body">
    <!--
        <div style="text-align: center; padding: 10vh 0vw 5vh">
          <svg height="200px" viewBox="0 0 640 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
              <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-2">
                  <stop stop-color="#55F" offset="0%"></stop>
                  <stop stop-color="#61CCFF00" offset="100%"></stop>
              </linearGradient>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="mountain-solid" transform="translate(-1.000000, 0.000000)" fill="url(#linearGradient-2)" fill-rule="nonzero">
                      <path d="M635.92,462.7 L347.92,14.7 C342.03,5.54 331.89,0 321,0 C310.11,0 299.97,5.54 294.08,14.7 L6.08,462.7 C-0.250773249,472.547007 -0.699487627,485.064987 4.91,495.34 C10.522069,505.612419 21.2945349,512 33,512 L609,512 C620.71,512 631.48,505.61 637.09,495.33 C642.699457,485.058495 642.250708,472.543372 635.92,462.7 Z M321,91.18 L406.39,224 L321,224 L257,288 L218.94,249.94 L321,91.18 Z" id="Shape"></path>
                  </g>
              </g>
          </svg>
        </div>
        -->
        {{ content | safe }}
      </article>
    </div>
  </body>

  <script>

    /**
    * Debounce functions for better performance
    * (c) 2018 Chris Ferdinandi, MIT License, https://gomakethings.com
    * @param  {Function} fn The function to debounce
    */
    function debounce(fn) {
      // Setup a timer
      var timeout;
      // Return a function to run debounced
      return function () {
        // Setup the arguments
        var context = this;
        var args = arguments;
        // If there's a timer, cancel it
        if (timeout) {
          window.cancelAnimationFrame(timeout);
        }
        // Setup the new requestAnimationFrame()
        timeout = window.requestAnimationFrame(function () {
          fn.apply(context, args);
        });
      }
    };

    function isScrolledIntoView(el) {
      var rect = el.getBoundingClientRect();
      var elemTop = rect.top;
      var elemBottom = rect.bottom;
      // Only completely visible elements return true:
      var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
      // Partially visible elements return true:
      //isVisible = elemTop < window.innerHeight && elemBottom >= 0;
      return isVisible;
    }

    function setActiveToc() {
      for (const el of document.querySelectorAll('h3, h2')) {
        if (!isScrolledIntoView(el)) {
          continue;
        }
        const elId = el.id;
        const tocEl = tableOfContentsEl.querySelector(`a[href="#${elId}"]`);
        tableOfContentsEl.querySelectorAll(`a.active`).forEach(aEl => aEl.classList.remove('active'));;
        if (!tocEl) {
          return;
        }
        tocEl.classList.add('active');
        // Don't scroll the top one
        if (elId !== 'what-is-snowpack%3F') {
          tocEl.scrollIntoView();
        }
        return;
      }
    }

    const gridBodyEl = document.getElementById('grid-body');
    const tableOfContentsEl = document.querySelector('.toc');
    gridBodyEl.addEventListener('scroll', debounce(setActiveToc));
    setActiveToc();
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130280175-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130280175-9');
  </script>
</html>