@import './_var';

.home {

  .content {
    padding: 1rem;
  }
  .grid-body {
    padding-top: 0;
  }



  .home-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;

    @media (min-width: $breakpoint-l) {
      grid-template-columns: repeat(3, 1fr);
    }

    .section {
      background: #2e5e82;
      border: 12px solid #2e5e82;
    }

    svg {
      fill: #2e5e82;
      height: 100px;
    }

    .section-title {
      color: white;
      font-size: 3rem;
      font-weight: 300;
      line-height: 1.2em;
      margin-bottom: 8px;
      margin-top: 0;
    }
  }

  .home-hr {
    margin: 2em 0;
  }
}
