@import './_var';

.container {
  margin: auto;
  max-width: 1400px;
}

// Main
// Two sections
// main.njk
.main {
  display: flex;
  .grid-toc {
    position: fixed;
    top: $nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: auto;
    z-index: 100;

    @media (min-width: $breakpoint-m) {
      padding: 1rem;
      position: sticky;
      top: $nav-height;
      width: 320px;
      max-height: calc(100vh - $nav-height);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 1;
    }
  }
  .grid-body {
    width: 100%;

    @media (min-width: $breakpoint-m) {
      background: white;
      flex-grow: 1;
      min-width: 0;
      overflow: auto;
      padding-top: 0;
    }
  }
}

// Content
// content.njk
.content {
  padding: 1rem;

  .content-layout {
    @media (min-width: $breakpoint-l) {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 20vh;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
      flex-grow: 1;
    }

    .content-body {
      background: white;
      flex-grow: 1;
      min-width: 0;
      overflow: auto;
      padding: 0;
    }
    .sub-navigation-column {
      padding: 1em 0;
      @media (min-width: $breakpoint-l) {
        width: 360px;
        flex-shrink: 0;
        padding: 1rem 0 0 3rem;
      }

      .sub-navigation {
        @media (min-width: $breakpoint-l) {
          overflow-y: scroll;
          max-height: calc(80vh - 100px);
          position: fixed;
          width: 360px;
        }
      }
    }
  }
}
