
// GitHub markdown styles
@import './_github-markdown';

// Syntax highlighting
@import './_prism';

// Global styles
@import './_globals';

// Typography
@import './_typography';

// Layout
@import './_layout';

// Components
@import './_components';
@import './_menu';
@import './_hero';

// home page styles
@import './home';

// Pages
@import './_pluginPage';
