.grid-extra-space {
  position: relative;
  height: 470px;
  overflow: hidden;
  background: #ffffff;
  // background: linear-gradient(to right, #0002, #0000 10px), linear-gradient(to right, #94b1bf00, #94b1bf); url('/img/extra-space-4.jpg') center;
  background-size: cover;
  background: url('/img/extra-space.png') center;

  video,
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-attribution {
    background: #fff9;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    text-align: right;
    z-index: 100;
    letter-spacing: 0;
    padding: 0.5rem 0.75rem;
    font-size: 15px;
    border-radius: 4px;

    a {
      font-weight: 600;
      color: black;
    }
  }
}

// content body

.content-body {
  min-width: 0;
  padding: 1rem;
  h2:first-child,
  h3:first-child,
  h4:first-child {
    padding-top: 0;
  }

  h2,
  h3,
  h4 {
    .header-link {
      margin-left: 0.25rem;
      opacity: 1;
      transition: opacity 100ms ease-in-out;
      color: #2e5e82;

      @media (min-width: $breakpoint-m) {
        opacity: 0;
      }
    }
  }

  h2 code,
  h3 code,
  h4 code {
    font-size: inherit;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    margin-top: -60px;
    padding-top: 90px;

    &:hover .header-link {
      opacity: 1;
    }
  }

  h4 {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover .header-link {
      opacity: 1;
    }
  }

  iframe,
  img {
    box-shadow: 0 5px 12px 0 #ccc;
    border: 1px solid #aaa;
    border-radius: 3px;
  }

  pre {
    padding: 2rem;
  }

  ul {
    list-style: initial;
  }

  @media (min-width: 600px) {
    font-size: 1.1em;
  }

  blockquote,
  p,
  ul,
  ol,
  pre {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  p {
    line-height: 1.6;
  }

  ul {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.6;
  }

  h2 {
    font-size: 2.5em;
    line-height: 1.2;
  }


}

.content-body h3 .content-body .content-body ul > li > ul {
  list-style: none;
  border-left: 3px solid #99d;
  padding: 0.5rem 1rem 0.6rem;
  margin: 0.5rem 0;
  border-left: 6px solid #2e5e82;
  background: #258ad622;
}

.content-body iframe.twitter-share-button {
  box-shadow: none;
  border: 0;
}

.content-body img.screenshot {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.content-body embed {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
  width: 100%;
}
