
.grid-extra-space {
  position: relative;
  height: 470px;
  overflow: hidden;
  background: #ffffff;
  // background: linear-gradient(to right, #0002, #0000 10px), linear-gradient(to right, #94b1bf00, #94b1bf); url('/img/extra-space-4.jpg') center;
  background-size: cover;
  background: url('/img/extra-space.png') center;

  video,
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-attribution {
    background: #fff9;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    text-align: right;
    z-index: 100;
    letter-spacing: 0;
    padding: 0.5rem 0.75rem;
    font-size: 15px;
    border-radius: 4px;

    a {
      font-weight: 600;
      color: black;
    }
  }
}
