name: Test Docs

on:
  push:
    branches:
      - master
  pull_request:

env:
  node_version: 14

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.2
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v2.1.1
        with:
          node-version: ${{ env.node_version }}
      - name: test
        run: |
          yarn --ignore-engines --frozen-lockfile
          yarn test:docs
