name: Test Code

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2016]
        node-version: [10.x, 12.x, 14.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: build
        run: |
          yarn --ignore-engines --frozen-lockfile
          yarn build
        env:
          CI: true
      - name: test
        run: npm test
        env:
          CI: true
      - name: dev test
        run: npm run test:dev
        if: matrix.os == 'ubuntu-latest'
        env:
          CI: true
