.language-diff .deleted-sign,
.language-diff .inserted-sign .inserted {
  user-select: none;
}

.token.inserted {
  color: #b5cea8;
}

.token.deleted {
  color: #ce9178;
}

.markdown-body img.screenshot {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.markdown-body embed {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
  width: 100%;
}

.frame {
  background-color: #0a5e9d;
  padding: 34px 17px 10px 17px;
  border-radius: 10px;
  position: relative;
  margin: 1rem 0;

  &::before {
    content: url(/img/guides/react/buttons.svg);
    display: block;
    position: absolute;
    top: 5px;
  }

  &::after {
    content: url(/img/guides/react/snowpack-logo-tiny.svg);
    display: block;
    position: absolute;
    top: 5px;
    right: 17px;
  }
}

.guide {
  .grid-body-header {
    margin-bottom: 4rem;
  }

  .markdown-body {
    @media (min-width: 600px) {
      font-size: 1.1em;
    }

    blockquote,
    p,
    ul,
    ol,
    pre {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    p {
      line-height: 1.6;
    }

    ul {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      line-height: 1.6;
    }

    h2 {
      font-size: 2.5em;
      line-height: 1.2;
    }

    blockquote {
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 1.5rem 1rem;
      color: #2e5e82;
      font-size: 1.1em;
      font-weight: 300;
      background: linear-gradient(-30deg, #c9efd8, #f9ddff);
      border-left: none;

      @media (min-width: 860px) {
        margin-left: -2rem;
        margin-right: -2rem;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px rgba(50, 127, 177, 0.1),
          0 1.5rem 3rem rgba(50, 125, 177, 0.1);
      }

      & *:first-child {
        margin-top: 0;
      }
      & *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.markdown-body iframe.twitter-share-button {
  box-shadow: none;
  border: 0;
}
