.pluginPage {
  &-count {
    margin-bottom: 1.5rem;
    color: rgba(black, 0.6);
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 1.2em;
    }
  }

  &-intro {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.5;

    a {
      color: #2e5e82;
    }
  }

  &-search {
    display: flex;
    width: 100%;

    &-input {
      font-size: 1em;
      box-sizing: border-box;
      padding: 0.25em 0.75em;
      flex-shrink: 0;
      flex-grow: 1;
      border-radius: 4px 0 0 4px;
      border-width: 1px 0 1px 1px;
      appearance: none;
      box-shadow: 0 0 0 2px rgba(#2e5e82, 0);
      transition: box-shadow 150ms linear;

      &:focus {
        border-color: #2e5e82;
        box-shadow: 0 0 0 2px rgba(#2e5e82, 1);
        outline: none;

        + .pluginPage-search-submit {
          box-shadow: 0 0 0 2px rgba(#2e5e82, 1);
        }
      }
    }

    &-submit {
      padding: 0.5em 1em;
      color: white;
      font-weight: 700;
      font-size: 1em;
      font-family: 'Overpass', sans-serif;
      background-color: #2e5e82;
      border-radius: 0 4px 4px 0;
      appearance: none;
      border: none;
      box-shadow: 0 0 0 2px rgba(#2e5e82, 0);
      transition: box-shadow 150ms linear;
    }
  }

  &-subheading {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #2e5e82;
    font-size: 1em;
    font-family: 'Overpass', sans-serif;
    letter-spacing: -0.02em;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 1.3em;
    }
  }

  &-zero-heading {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 1.5em;
    }
  }
}
