.language-diff .deleted-sign,
.language-diff .inserted-sign .inserted {
  user-select: none;
}

.token.inserted {
  color: #b5cea8;
}

.token.deleted {
  color: #ce9178;
}

.markdown-body img.screenshot {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 1rem 0;
}
